$primary1: #15ff09;
$primary2: #025259;
$primary3: #007172;
$primary4: #F29325;
$primary5: #F4E2DE;

$generic1: #000;
$generic2: #ccc;
$generic3: #fff;

$small: 640px;
$medium: 1024px;
$large: 1920px;
/* */